
<nav class="fixed-top" *ngIf="router.url=='/home' || router.url=='/about' || router.url=='/skills' || router.url=='/contact' || router.url=='/resume' || router.url=='/works' || router.url==''">
    <mat-toolbar color="primary">
      <button class="menu" mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-item-spacer"></span>
      <div class="nav-large text-center">
        <mat-nav-list class="nav-list d-flex flex-row mb-2">
          <mat-list-item routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
              <mat-icon>home</mat-icon><span >Home</span>
          </mat-list-item>

          <mat-list-item routerLink="/about" ariaCurrentWhenActive="page">
            <mat-icon>person</mat-icon><span >About</span>
          </mat-list-item>

          <mat-list-item routerLink="/skills" ariaCurrentWhenActive="page">
            <mat-icon>auto_graph</mat-icon><span >Skills</span>
          </mat-list-item>

          <mat-list-item routerLink="/resume" ariaCurrentWhenActive="page">
            <mat-icon>description</mat-icon><span>Resume</span>
          </mat-list-item>

          <mat-list-item  routerLink="/works" ariaCurrentWhenActive="page">
            <mat-icon>code</mat-icon><span>Works</span>
          </mat-list-item>

          <mat-list-item routerLink="/contact" ariaCurrentWhenActive="page">
            <mat-icon >mail_outline</mat-icon><span>Contact</span>
          </mat-list-item>

      </mat-nav-list>
      </div>
      <span class="toolbar-item-spacer"></span>
      
      <button mat-icon-button [matMenuTriggerFor]="menu"  matTooltip="Languages">
          <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="selectedLanguage">
        <mat-radio-button [color]="color" (change)="radioButtonChange(i)" labelPosition="after" checked class="example-radio-button" *ngFor="let language of languages;let i=index" [value]="i">
          {{language}}
        </mat-radio-button>
      </mat-radio-group>
      </mat-menu>
    
    </mat-toolbar>
  </nav>
  
    <mat-sidenav-container class="app-container" autosize>
      <mat-sidenav #sidenav class="app-sidenav" class="mat-elevation-z8" mode="over">
        <div class="conatiner mt-5">
          <mat-nav-list>
            <mat-list-item (click)="sidenav.toggle()" routerLink="/home" routerLinkActive="active">
                <mat-icon style="color: #014255;">home</mat-icon><span class="ms-4">Home</span>
            </mat-list-item>
  
            <mat-list-item (click)="sidenav.toggle()" routerLinkActive="active" routerLink="/about" ariaCurrentWhenActive="page">
              <mat-icon style="color: #014255;">person</mat-icon><span class="ms-4">About</span>
            </mat-list-item>
  
            <mat-list-item (click)="sidenav.toggle()" routerLinkActive="active" routerLink="/skills" ariaCurrentWhenActive="page">
              <mat-icon style="color: #014255;">auto_graph</mat-icon><span class="ms-4">Skills</span>
            </mat-list-item>
  
            <mat-list-item (click)="sidenav.toggle()" routerLinkActive="active" routerLink="/resume" ariaCurrentWhenActive="page">
              <mat-icon style="color: #014255;">description</mat-icon><span class="ms-4">Resume</span>
            </mat-list-item>
  
            <mat-list-item (click)="sidenav.toggle()" routerLinkActive="active" routerLink="/works" ariaCurrentWhenActive="page">
              <mat-icon style="color: #014255;">code</mat-icon><span class="ms-4">Works</span>
            </mat-list-item>
  
            <mat-list-item (click)="sidenav.toggle()" routerLinkActive="active" routerLink="/contact" ariaCurrentWhenActive="page">
              <mat-icon style="color: #014255;">mail_outline</mat-icon><span class="ms-4">Contact</span>
            </mat-list-item>
  
        </mat-nav-list>
        </div>
          
      </mat-sidenav >
      <mat-sidenav-content >
        
        <router-outlet></router-outlet>
        <app-footer></app-footer>

      </mat-sidenav-content>
  </mat-sidenav-container> 








