<footer *ngIf="router.url=='/home' || router.url=='/about' || router.url=='/skills' || router.url=='/contact' || router.url=='/resume' || router.url=='/works' || router.url==''"
style="position:fixed;bottom:0;left:0;right:0;height: 60px;background-color: #014255;;" class="text-center text-white">
          <div class="col-auto my-1">
            <div class="social-links">
                <a href="https://twitter.com/FarasatNlu?t=Wk0u8f6uAdNR0RKHb11ZjA&s=09"><i class="lab la-twitter"></i></a>
                <a href="https://www.facebook.com/feraset.novruzlu.5?mibextid=ZbWKwL"><i class="lab la-facebook"></i></a>
                <a href="https://www.instagram.com/farasat_novruzlu/"><i class="lab la-instagram"></i></a>
                <a href="https://dribbble.com/farasatn"><i class="lab la-dribbble"></i></a>
                <a href="https://github.com/FarasatN"><i class="lab la-github"></i></a>
                <a href="https://www.linkedin.com/in/farasat-novruzov-2a43b0196"><i class="lab la-linkedin"></i></a>
                <a href="#">
                    <i class="lab la-youtube"></i>     
                </a>
            </div>
            <div class="mt-0">
                <p style="display:block;opacity: .7;font-weight: 100;font-size: smaller;padding-bottom: 5px;"><span translate>FOOTER</span></p>
            </div>
        </div>
   
</footer>
