
<section class="about" id="about" data-aos="fade-up" data-aos-delay="300">
  <div class="container-fluid mt-5">
      <div class="row mt-3 mx-2 pt-4">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title >About<hr></mat-card-title>
              </mat-card-header>
              <div class="row about-row card-content justify-content-center align-items-center ms-2">
                    <div class="col-12 col-xs-3 col-md-3 img-prof mb-2" data-aos="fade-right" data-aos-delay="500"> 
                      <img src="../../assets/images/profile.jpg" alt="profile" class="img-fluid">
                    </div>
                    <div class="col-12 col-xs-3 col-md-9" >
                      <div class="row">
                        <div class="col-12 col-xs-12 col-md-12 " data-aos="fade-left" data-aos-delay="600">
                          <h2 style="color: #014255;">Web and mobile application developer</h2>
                          <p class="fst-italic">Interested in new technologies and working methods. I like to come up with ideas that to permit to improve business processes.
                            Passionate about development <strong>Back-End</strong> and <strong>Front-End</strong>.</p>
                            
                        </div>
                        <div class="col-12 col-xs-9 col-md-9 " data-aos="fade-left" data-aos-delay="800">
                          <ul class="list-unstyled">
                            <li><i class="bi bi-geo-alt"></i><strong> Baku/Azerbaijan</strong></li>
                            <li><i class="bi bi-balloon"></i><strong> 27 years</strong></li>
                            <li><i class="bi bi-buildings"></i><strong> Baku/Azerbaijan</strong></li>
                            <li><i class="bi bi-envelope"></i><strong> farasatnovruzov@gmail.com</strong></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-12 col-xs-12" data-aos="fade-left" data-aos-delay="1000">
                        <p style="font-weight: 500;">I am looking for an innovative and user-centric company to best meet the needs customer, from his idea to the final delivery of his project, or participate in the improvement of a project existing.</p>
                    </div>
              </div>
            </mat-card>
      </div>
  </div>
</section>
