$primary-color:#014255;
$secondary-color:#fdba0e;

mat-card-title{
  color: $primary-color;
}

hr{
  color: $secondary-color;
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  height: 2px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

// .form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.subm {
  width: 100%;
  color: #fff;
  background-color: $primary-color;
}

@media screen and (max-width: 768px) {
  .img-prof{
    margin-bottom: 10px;
  }
  img{
    width: 30%;
  }

  .about-row{
    font-size: 12px;
    line-height: 14px;
  }
  
}


.list-unstyled li i{
  color: $secondary-color;
}
.list-unstyled li strong{
  color: $primary-color;
}
