
<section class="skills" id="skills" data-aos="fade-up" data-aos-delay="300">
  <div class="container my-5">
      <div class="row my-3">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title ><span translate> SKILLS.HEADER</span><hr class="card-hr"></mat-card-title>
              </mat-card-header>
              <div class="row card-content justify-content-center align-items-center ms-2" data-aos="fade-down" data-aos-delay="700">
                    <div class="container"> 
                      <div class="row g-2">
                        <div class="card col-12 col-lg-6" >
                          <h2><span translate> SKILLS.TECHNOLOGIES</span></h2>
                          <div class="card-item">
                            <h3 class="fw-bold">Html5, CSS3, Bootstrap5</h3>
                            <hr class="item-hr py-2 " style="width:90%">
                            <h3 class="fw-bold">Javascript ES6+, Typescript, Jquery, Angular</h3>
                            <hr class="py-2" style="width:70%">
                            <h3 class="fw-bold">C#, .NET/.NET Core</h3>
                            <hr class="py-2" style="width:70%">
                            <h3 class="fw-bold">Java</h3>
                            <hr class="py-2" style="width:80%">
                            <h3 class="fw-bold">Kotlin</h3>
                            <hr class="py-2" style="width:80%">
                            <h3 class="fw-bold">Dart/Flutter</h3>
                            <hr class="py-2" style="width:60%">
                            <h3 class="fw-bold">Android</h3>
                            <hr class="py-2" style="width:80%">
                            <h3 class="fw-bold">Python</h3>
                            <hr class="py-2" style="width:50%">
                          </div>
                        </div>
                        <div class="card col-12 col-lg-6" >
                          <div class="card-item">
                          <h2><span translate> SKILLS.TOOLS</span></h2>
                          <h3 class="fw-bold">Git, Github</h3>
                          <hr class="py-2" style="width:80%">
                          <h3 class="fw-bold">Linux, Windows, Bash/Cmd/Powershell</h3>
                          <hr class="py-2" style="width:70%">
                          <h3 class="fw-bold">MS Sql, MySql, Sqlite, Postgres</h3>
                          <hr class="py-2" style="width:60%">
                          <h3 class="fw-bold">Docker, Kubernetes</h3>
                          <hr class="py-2" style="width:30%">
                          <h3 class="fw-bold">Figma, Adobe XD, Adobe Photoshop</h3>
                          <hr class="py-2" style="width:50%">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </mat-card>
      </div>
  </div>
</section>
