<section class="about">
    <div class="container">
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Skills<hr></mat-card-title>
                </mat-card-header>
                <div class="row card-content mt-5 justify-content-center align-items-center">
                    <div class="col-md-4 col-sm-12 mb-3">
                        <img src="../../assets/profile.jpg" alt="profile" class="img-fluid" style="max-width: 60%;
                        height: auto;">
                    </div>
                    <div class="col-md-8 col-sm-12">
                            <p>
                              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                              bred for hunting.
                            </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </div>
                </div>
              </mat-card>
        </div>
    </div>
</section>
