$primary-color:#014255;
$secondary-color:#fdba0e;

mat-card-title{
  color: $primary-color;
}

.card-hr{
  color: $secondary-color;
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  height: 2px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}


.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.subm {
  width: 100%;
  color: #fff;
  background-color: $primary-color;
}

//--------------------------------

.card{
  border: 0;
}

.card-content .container .row  .card hr{
  color: #014255!important;
  background-color: #014255!important;
}