
<!-- <nav *ngIf="router.url=='/home' || router.url=='/about' || router.url=='/skills' || router.url=='/contact' || router.url=='/resume' || router.url=='/works' || router.url==''">
    <mat-toolbar color="primary">
      <button class="menu" mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-item-spacer"></span>
      <div class="nav-large text-center">
        <mat-nav-list class="nav-list d-flex flex-row mb-2">
          <mat-list-item routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
              <mat-icon>home</mat-icon><span >Home</span>
          </mat-list-item>

          <mat-list-item routerLink="/about" ariaCurrentWhenActive="page">
            <mat-icon>person</mat-icon><span >About</span>
          </mat-list-item>

          <mat-list-item routerLink="/skills" ariaCurrentWhenActive="page">
            <mat-icon>auto_graph</mat-icon><span >Skills</span>
          </mat-list-item>

          <mat-list-item routerLink="/resume" ariaCurrentWhenActive="page">
            <mat-icon>description</mat-icon><span>Resume</span>
          </mat-list-item>

          <mat-list-item  routerLink="/works" ariaCurrentWhenActive="page">
            <mat-icon>code</mat-icon><span>Works</span>
          </mat-list-item>

          <mat-list-item routerLink="/contact" ariaCurrentWhenActive="page">
            <mat-icon >mail_outline</mat-icon><span>Contact</span>
          </mat-list-item>

      </mat-nav-list>
      </div>
      <span class="toolbar-item-spacer"></span>
      
      <button mat-icon-button [matMenuTriggerFor]="menu"  matTooltip="Languages">
          <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="selectedLanguage">
        <mat-radio-button color="primary" (change)="radioButtonChange(i)" labelPosition="after" checked class="example-radio-button" *ngFor="let language of languages;let i=index" [value]="i">
          {{language}}
        </mat-radio-button>
      </mat-radio-group>
      </mat-menu>
    
    </mat-toolbar>
  </nav>
    <mat-sidenav-container class="app-container">
      <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
          <mat-nav-list>
              <mat-list-item (click)="sidenav.toggle()" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
                  <mat-icon color="primary">home</mat-icon><span class="ms-4">Home</span>
              </mat-list-item>
    
              <mat-list-item (click)="sidenav.toggle()" routerLink="/about" ariaCurrentWhenActive="page">
                <mat-icon color="primary">person</mat-icon><span class="ms-4">About</span>
              </mat-list-item>
    
              <mat-list-item (click)="sidenav.toggle()" routerLink="/skills" ariaCurrentWhenActive="page">
                <mat-icon color="primary">auto_graph</mat-icon><span class="ms-4">Skills</span>
              </mat-list-item>
    
              <mat-list-item (click)="sidenav.toggle()" routerLink="/resume" ariaCurrentWhenActive="page">
                <mat-icon color="primary">description</mat-icon><span class="ms-4">Resume</span>
              </mat-list-item>
    
              <mat-list-item (click)="sidenav.toggle()" routerLink="/works" ariaCurrentWhenActive="page">
                <mat-icon color="primary">code</mat-icon><span class="ms-4">Works</span>
              </mat-list-item>
    
              <mat-list-item (click)="sidenav.toggle()" routerLink="/contact" ariaCurrentWhenActive="page">
                <mat-icon color="primary">mail_outline</mat-icon><span class="ms-4">Contact</span>
              </mat-list-item>
          </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>  -->

<app-header></app-header>

<!-- <div class="my-5"></div> -->

<!-- <h1>Current Section : [{{currentSection}}]</h1> -->

<!-- <h2>Menu</h2> -->

<!-- <div (click)="scrollTo('section1')">Section 1 
  <ng-container *ngIf="currentSection==='section1'">O</ng-container>
</div>
<div (click)="scrollTo('section2')">Section 2 
  <ng-container *ngIf="currentSection==='section2'">O</ng-container>
</div>
<div (click)="scrollTo('section3')">Section 3
  <ng-container *ngIf="currentSection==='section3'">O</ng-container>
</div>
<div (click)="scrollTo('section4')">Section 4 
  <ng-container *ngIf="currentSection==='section4'">O</ng-container>
</div>
<br/>

<div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" style="height:100%;overflow-y: scroll;"> -->

  <!-- <div id="Home">
    <app-home></app-home>
  </div>
  <div id="Home">
    <app-home></app-home>
  </div>
  <div id="Home">
    <app-home></app-home>
  </div>
  <div id="Home">
    <app-home></app-home>
  </div> -->

  <router-outlet></router-outlet>
  
<!-- </div> -->

<!-- <div class="my-5"></div> -->
<app-footer></app-footer>



<!-- <footer *ngIf="router.url=='/home' || router.url=='/about' || router.url=='/skills' || router.url=='/contact' || router.url=='/resume' || router.url=='/works' || router.url==''"
style="position:fixed;bottom:0;left:0;right:0;height: 70px;background-color: rgb(255, 255, 255);" class="text-center">
          <p> Copyright © 2022-<span>{{currentYear}}</span> By Farasat Novruzov.</p>
          <div class="col-auto">
            <div class="social-links">
                <a href="https://twitter.com/FarasatNlu?t=Wk0u8f6uAdNR0RKHb11ZjA&s=09"><i class="lab la-twitter"></i></a>
                <a href="https://www.facebook.com/feraset.novruzlu.5?mibextid=ZbWKwL"><i class="lab la-facebook"></i></a>
                <a href="https://www.instagram.com/farasat_novruzlu/"><i class="lab la-instagram"></i></a>
                <a href="https://dribbble.com/farasatn"><i class="lab la-dribbble"></i></a>
                <a href="https://github.com/FarasatN"><i class="lab la-github"></i></a>
                <a href="https://www.linkedin.com/in/farasat-novruzov-2a43b0196"><i class="lab la-linkedin"></i></a>
                <a href="#"><i class="lab la-youtube"></i></a>
            </div>
        </div>
</footer> -->



