
.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    // height: 100%;
    margin: 0;
    z-index: 1000;
}  
.app-sidenav {
    width: 200px;
    height: 300px;
    z-index: 1;
}
.app-sidenav-content {
    display: flex;
    // height: 100%;
    align-items: center;
    justify-content: center;
} 

//----------------------

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}
  
.example-radio-button {
    margin: 5px;
}

//-------------------------

  
@media screen and (max-width: 998px) {
    .nav-large{
        display: none;
      }
    .menu{
        display: block;
    }
}

@media screen and (min-width: 998px) {
    .nav-large{
        display: flex;
    }
    .menu{
        display: none;
    }

    .app-container{
        display: none;
    }
}

.nav-list {
    justify-content: space-around;
}

.nav-list mat-list-item{
    width: fit-content;
    margin: 5px;
    border-radius: 40px;
    overflow: hidden;
    justify-content: space-between;
}


.nav-list mat-icon{
    color: white;
}

.nav-list span{
    margin-left: 10px;
    color: white;
    font-size: medium;
}

//-----------------------------------------


.social-links a{
    border: .1rem solid #b6cbce;
    border-radius: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.social-links a:hover{
    border: .17rem solid #deff58;
}
