
<section class="resume" id="resume" data-aos="fade-up" data-aos-delay="300">
  <div class="container my-5">
      <div class="row my-3">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title >Resume<hr></mat-card-title>
              </mat-card-header>
              <div class="row card-content justify-content-center align-items-center">
                <div class="container my-3" data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="1000"> 
                  <div class="row g-2">
                    <div class="card col-12 col-lg-4" >
                      <h2>Education</h2>
                      <div class="card-item">
                        <h3 style="font-weight: 500;">Baku State University</h3>
                         <h4>International Relations - 2013-2017 (bachelor degree)</h4> 
                      </div>
                    </div>
                    <div class="card col-12 col-lg-4">
                      <h2>Experience</h2>
                      <div class="card-item">
                        <h3 style="font-weight: 500;">Atasigorta OJSC</h3>
                         <h4>IT Specialist - 2020-2023</h4> 
                      </div>
                      <div class="card-item">
                        <h3 style="font-weight: 500;">UCS Original(Baku)</h3>
                         <h4>IT Specialist - 2020-2020</h4> 
                      </div>
                    </div>
                    <div class="card col-12 col-lg-4" >
                      <h2>Languages</h2>
                      <div class="card-item">
                         <h4>Azerbaijan - native</h4> 
                         <h4>English - good</h4> 
                         <h4>Russian - weak</h4> 
                         <h4>Turkish - excellent</h4> 
                      </div>
                  </div>
                  </div>
                </div>
              </div>
            </mat-card>
      </div>
  </div>
</section>
