
<section class="resume" id="resume" data-aos="fade-up" data-aos-delay="300">
  <div class="container my-5">
      <div class="row my-3">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title><span translate>RESUME.HEADER</span><hr></mat-card-title>
              </mat-card-header>
              <div class="row card-content justify-content-center align-items-center ms-2">
                <div class="container my-3" data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="1000"> 
                  <div class="row g-2">
                    <div class="card col-12 col-lg-4" >
                      <h2><span translate>RESUME.EDUCATION</span></h2>
                      <div class="card-item">
                        <h3 style="font-weight: 500;"><span translate>RESUME.UNIVERSITY</span></h3>
                         <h4><span translate>RESUME.UNI_FAC_NAME</span>
                          <br>
                          <span translate>RESUME.UNI_DATE</span>
                         </h4> 
                      </div>
                    </div>
                    <div class="card col-12 col-lg-4">
                      <h2><span translate>RESUME.EXPERIENCE</span></h2>
                      <div class="card-item">
                        <h3 style="font-weight: 500;"><span translate>RESUME.JOB1</span></h3>
                         <h4><span translate>RESUME.JOB1_DETAIL</span></h4> 
                      </div>
                      <div class="card-item">
                        <h3 style="font-weight: 500;"><span translate>RESUME.JOB2</span></h3>
                         <h4><span translate>RESUME.JOB2_DETAIL</span></h4> 
                      </div>
                      <div class="card-item">
                        <h3 style="font-weight: 500;"><span translate>RESUME.JOB3</span></h3>
                         <h4><span translate>RESUME.JOB3_DETAIL</span></h4> 
                      </div>
                    </div>
                    <div class="card col-12 col-lg-4" >
                      <h2><span translate>RESUME.LANGUAGES</span></h2>
                      <div class="card-item">
                         <h4><span translate>RESUME.AZ</span></h4> 
                         <h4><span translate>RESUME.EN</span></h4> 
                         <h4><span translate>RESUME.RU</span></h4> 
                         <h4><span translate>RESUME.TUR</span></h4> 
                      </div>
                  </div>
                  </div>
                </div>
              </div>
            </mat-card>
      </div>
  </div>
</section>
