<section id="home" class="home bg-dark home" style="height: 100vh;">
    <div class="container" data-aos="flip-up"
    data-aos-easing="ease-out-cubic"
     data-aos-delay="500">
        <div class="row text-center justify-content-center align-items-center mx-auto">
            <div class="hero my-3 py-3">
                <mat-card>
                        <mat-card-content >
                            <h1 class="text-white fw-bold" style="line-height:60px;font-family: 'Bradley Hand', cursive!important;">Farasat Novruzov</h1>
                              <h2 class="typewriter text-white fw-bold" style="font-family: 'Courier New', monospace;;">I am a 
                              <span class="typed"></span> developer</h2>
                            <br><br>
                              <div class="social-links">
                                <a href="https://twitter.com/FarasatNlu?t=Wk0u8f6uAdNR0RKHb11ZjA&s=09"><i class="lab la-twitter"></i></a>
                                <a href="https://www.facebook.com/feraset.novruzlu.5?mibextid=ZbWKwL"><i class="lab la-facebook"></i></a>
                                <a href="https://www.instagram.com/farasat_novruzlu/"><i class="lab la-instagram"></i></a>
                                <a href="https://dribbble.com/farasatn"><i class="lab la-dribbble"></i></a>
                                <a href="https://github.com/FarasatN"><i class="lab la-github"></i></a>
                                <a href="https://www.linkedin.com/in/farasat-novruzov-2a43b0196"><i class="lab la-linkedin"></i></a>
                                <a href="#"><i class="lab la-youtube"></i></a>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <a mat-button color="white" href="../../assets/documents/Farasat's Resume.pdf" class="text-decoration-none"><mat-icon class="login-to-download">login</mat-icon> Resume</a>
                            <a mat-button color="white" routerLink="/contact" class="text-decoration-none">Contact</a>
                          </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </div>
</section>


