<section class="home bg-dark" style="height: 100vh;">
    <div class="container">
        <div class="row text-center justify-content-center align-items-center mx-auto">
            <div class="hero my-5 py-5">
                <mat-card>
                        <mat-card-content >
                            <h1 class="text-white">Farasat Novruzov</h1>
                            <!-- <h2 class="typewriter text-white">I am a <span class="typewrite" data-period="2000" data-type='[ "Web", "Mobile", "Full Stack"]'> <span class="wrap"> Full Stack Web </span>
                              </span> developer</h2> -->

                              <h2 class="typewriter text-white">I am a 
                              <span class="typed"></span> developer</h2>
                            
                              <div class="social-links">
                                <a href="https://twitter.com/FarasatNlu?t=Wk0u8f6uAdNR0RKHb11ZjA&s=09"><i class="lab la-twitter"></i></a>
                                <a href="https://www.facebook.com/feraset.novruzlu.5?mibextid=ZbWKwL"><i class="lab la-facebook"></i></a>
                                <a href="https://www.instagram.com/farasat_novruzlu/"><i class="lab la-instagram"></i></a>
                                <a href="https://dribbble.com/farasatn"><i class="lab la-dribbble"></i></a>
                                <a href="https://github.com/FarasatN"><i class="lab la-github"></i></a>
                                <a href="https://www.linkedin.com/in/farasat-novruzov-2a43b0196"><i class="lab la-linkedin"></i></a>
                                <a href="#"><i class="lab la-youtube"></i></a>
                            </div>
                        </mat-card-content>
                        <mat-card-actions class="my-4">
                            <a mat-button color="white" href="../../assets/Farasat's Resume.pdf" class="text-decoration-none"><mat-icon class="login-to-download">login</mat-icon> Resume</a>
                            <a mat-button color="white" routerLink="/contact" class="text-decoration-none">Contact</a>
                          </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </div>
</section>


