//--------------------------------
$primary-color:#014255;
$secondary-color:#fa811f;
//--------------------------------

.home {
    background: url(../../assets/sky-early-morning.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1{

    font-size: 50px;
    margin-top: 65px;
    margin-bottom: 45px;
}

.hero h2{

    font-size: 30px;
}

.typewrite{
    text-decoration: underline;
}
.wrap{
    text-decoration: underline;
}

//-----------------------------

mat-card{
    background-color:rgb(4, 65, 84,0.1);
}

mat-card button{
    background-color: rgb(99, 33, 213);
    color: white;
}

mat-card a{
    background-color: rgb(99, 33, 213);
    color: white;
}

mat-card .login-to-download{
    rotate: 90deg;
}

//-----------------------------


mat-card .social-links a{
    border: .1rem solid #b6cbce;
    border-radius: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: .5rem;
  }
  
  mat-card .social-links a:hover{
    border: .17rem solid #deff58;
  }