$primary-color:#014255;
$secondary-color:#fdba0e;

a{
  text-decoration: none;
}

mat-card-title{
  color: $primary-color;
}

hr{
  color: $secondary-color;
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  height: 2px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

// .form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.subm {
  width: 100%;
  color: #fff;
  background-color: $primary-color;
}

//-------------------------

.shadow-effect{
  transition: all 0.5s ;
}

.shadow-effect:hover{
  box-shadow: -.3rem .3rem 0 0 var(--color-brand);
}

//----------------------

/* CARD */
.card-custom .card-custom-image{
  overflow: hidden;
}

.card-custom .card-custom-image img{
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img{
  transform: scale(1.1);
}


//-----------------

.link-custom{
  font-weight: 700;
  position: relative;
}

.link-custom::after{
  content: "";
  width: 0%;
  height: .15rem;
  background-color: var($secondary-color);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after{
  width: 100%;
  color: $primary-color;
}
