
<section class="works" id="works" data-aos="fade-up" data-aos-delay="100">
  <div class="container my-5">
      <div class="row my-3 mx-lg-5 px-lg-5">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title ><span translate>WORKS.HEADER</span><hr></mat-card-title>
              </mat-card-header>
              <div class="row card-content justify-content-center align-items-center ms-2">
                    <div class="container"> 
                      <div class="row" data-aos="fade-up" data-aos-delay="500">
                        <div class="col-12 col-md-6" >
                          <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                              <a href="https://farasatn.github.io/landing_page_bootstrap5" style="text-decoration:none">
                                <img class="rounded-4 img-fluid" src="../../assets/images/site1.png" alt="project-1">
                              </a>
                            </div>
                            <div class="card-custom-content p-4">
                                <h4 class="fw-bold"><span translate>WORKS.WORK1_HEADER</span></h4>
                                <p><span translate>WORKS.WORK1_CONTENT</span></p>
                                <a href="https://github.com/FarasatN/landing_page_bootstrap5" class="link-custom"><span translate>WORKS.WORK_DETAIL</span></a>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                              <a href="https://farasatn.github.io/dice-game" style="text-decoration:none">
                                <img class="rounded-4 img-fluid" src="../../assets/images/dicegame.png" alt="project-2"></a>
                            </div>
                            <div class="card-custom-content p-4">
                                <h4 class="fw-bold"><span translate>WORKS.WORK2_HEADER</span></h4>
                                <p><span translate>WORKS.WORK2_CONTENT</span></p>
                                <a href="https://github.com/fnovruzlu23/dice/tree/farasat" class="link-custom"><span translate>WORKS.WORK_DETAIL</span></a>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                              <a href="https://tubanur313.github.io/summer-group-mizan/" style="text-decoration:none">
                                <img class="rounded-4 img-fluid" src="../../assets/images/elements.png" alt="project-3">
                              </a>
                            </div>
                            <div class="card-custom-content p-4">
                                <h4 class="fw-bold"><span translate>WORKS.WORK3_HEADER</span></h4>
                                <p><span translate>WORKS.WORK3_CONTENT</span></p>
                                <a href="https://github.com/fnovruzlu23/tour_site_elements_section_angular/tree/farasat" class="link-custom"><span translate>WORKS.WORK_DETAIL</span></a>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                              <a href="https://farasatn.github.io/portfolio/" style="text-decoration:none">
                                <img class="rounded-4 img-fluid" src="../../assets/images/portfolio-bootstrap5.png" alt="project-4"></a>
                            </div>
                            <div class="card-custom-content p-4">
                                <h4 class="fw-bold"><span translate>WORKS.WORK4_HEADER</span></h4>
                                <p><span translate>WORKS.WORK4_CONTENT</span></p>
                                <a href="https://github.com/FarasatN/portfolio" class="link-custom"><span translate>WORKS.WORK_DETAIL</span></a>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                              <a href="https://play.google.com/store/search?q=pub%3AFarasat%20Novruzov&c=apps" style="text-decoration:none">
                                <img class="rounded-4 img-fluid" src="../../assets/images/google-play.png" alt="project-4"></a>
                            </div>
                            <div class="card-custom-content p-4">
                                <h4 class="fw-bold"><span translate>WORKS.WORK5_HEADER</span></h4>
                                <p><span translate>WORKS.WORK5_CONTENT</span></p>
                                <a href="https://github.com/FarasatN/" class="link-custom"><span translate>WORKS.WORK_DETAIL</span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </mat-card>
      </div>
  </div>
</section>
