
<section class="works" id="works" data-aos="fade-up" data-aos-delay="200">
  <div class="container my-5">
      <div class="row my-3">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title >Works<hr></mat-card-title>
              </mat-card-header>
              <div class="row card-content justify-content-center align-items-center">
                    <div class="container"> 
                      <div class="row">
                        <div class="col-12 col-md-6" data-aos="fade-up" data-aos-delay="400">
                          <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                              <a href="https://farasatn.github.io/landing_page_bootstrap5" style="text-decoration:none">
                                <img class="rounded-4 img-fluid" src="../../assets/images/site1.png" alt="project-1">
                              </a>
                            </div>
                            <div class="card-custom-content p-4">
                                <h4 class="fw-bold">Landing Page</h4>
                                <p>Basic Landing Page Design with Html, CSS and Bootstrap5</p>
                                <a href="https://github.com/FarasatN/landing_page_bootstrap5" class="link-custom">Read More</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6" data-aos="fade-up" data-aos-delay="600">
                          <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                              <a href="https://farasatn.github.io/dice-game" style="text-decoration:none">
                                <img class="rounded-4 img-fluid" src="../../assets/images/dicegame.png" alt="project-2"></a>
                            </div>
                            <div class="card-custom-content p-4">
                                <h4 class="fw-bold">Dice Game</h4>
                                <p>Simple Dice Game with Angular and Angular MaterialUI</p>
                                <a href="https://github.com/fnovruzlu23/dice/tree/farasat" class="link-custom">Read More</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6" data-aos="fade-up" data-aos-delay="800">
                          <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4 img-fluid" src="../../assets/images/elements.png" alt="project-3">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4 class="fw-bold">Tour Web Site - "Elements" section</h4>
                                <p>This section have created in Angular with html,css</p>
                                <a href="https://github.com/fnovruzlu23/tour_site_elements_section_angular/tree/farasat" class="link-custom">Read More</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6" data-aos="fade-up" data-aos-delay="1000">
                          <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                              <a href="https://farasatn.github.io/portfolio/" style="text-decoration:none">
                                <img class="rounded-4 img-fluid" src="../../assets/images/portfolio-bootstrap5.png" alt="project-4"></a>
                            </div>
                            <div class="card-custom-content p-4">
                                <h4 class="fw-bold">Portfolio Website</h4>
                                <p>The site have created in with html,css and bootstrap5</p>
                                <a href="https://github.com/FarasatN/portfolio" class="link-custom">Read More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </mat-card>
      </div>
  </div>
</section>
